# idk
> I dont know

- title: i dont know
- toc: true
- categories: [CB]
- tags: [python]

In [11]:
# Sample of Python Variables

# variable of type string
name = "Lina"
print("name", name, type(name))

# variable of type integer
age = 16
print("age", age, type(age))

# variable of type float
score = 40.0
print("score", score, type(score))

name = "Lydia"
print("name", name, type(name))

# variable of type integer
age = 16
print("age", age, type(age))

# variable of type float
score = 45.0
print("score", score, type(score))

name = "Dylan"
print("name", name, type(name))

# variable of type integer
age = 15
print("age", age, type(age))

# variable of type float
score = 20.0
print("score", score, type(score))

name = "Naja"
print("name", name, type(name))

# variable of type integer
age = 15
print("age", age, type(age))

# variable of type float
score = 50.0
print("score", score, type(score))

print()

# variable of type dictionary (a group of keys and values)
person = {
    "name": name,
    "age": age,
    "score": score,
}

name Lina <class 'str'>
age 16 <class 'int'>
score 40.0 <class 'float'>
name Lydia <class 'str'>
age 16 <class 'int'>
score 45.0 <class 'float'>
name Dylan <class 'str'>
age 15 <class 'int'>
score 20.0 <class 'float'>
name Naja <class 'str'>
age 15 <class 'int'>
score 50.0 <class 'float'>

In [ ]:
# Define an empty List called InfoDb
InfoDb = []

# Append to List a Dictionary of key/values related to a person and cars
InfoDb.append({
    "FirstName": "Lina",
    "LastName": "Awad",
    "DOB": "October 28",
    "Residence": "San Diego",
    "Score": ["30"]
})

# Append to List a 2nd Dictionary of key/values
InfoDb.append({
    "FirstName": "Dylan",
    "LastName": "Garret",
    "DOB": "March 3",
    "Residence": "San Diego",
    "Score": ["20"]
})

InfoDb.append({
    "FirstName": "Lydia",
    "LastName": "Cho",
    "DOB": "April 12",
    "Residence": "San Diego",
    "Score": ["40"]
})

InfoDb.append({
    "FirstName": "Naja",
    "LastName": "Fonseca",
    "DOB": "September 18",
    "Residence": "San Diego",
    "Score": ["45"]
})

# Print the data structure
print(InfoDb)

[{'FirstName': 'Lina', 'LastName': 'Awad', 'DOB': 'October 28', 'Residence': 'San Diego', 'Score': ['30']}, {'FirstName': 'Dylan', 'LastName': 'Garret', 'DOB': 'March 3', 'Residence': 'San Diego', 'Score': ['20']}, {'FirstName': 'Lydia', 'LastName': 'Cho', 'DOB': 'April 12', 'Residence': 'San Diego', 'Score': ['40']}, {'FirstName': 'Naja', 'LastName': 'Fonseca', 'DOB': 'September 18', 'Residence': 'San Diego', 'Score': ['45']}]

In [ ]:
# given and index this will print InfoDb content
def print_data(d_rec):
    print(d_rec["FirstName"], d_rec["LastName"])  # using comma puts space between values
    print("\t", "Residence:", d_rec["Residence"]) # \t is a tab indent
    print("\t", "Birth Day:", d_rec["DOB"])
    print("\t", "Score:", end="")  # end="" make sure no return occurs
    print(", ".join(d_rec["Score"]))  # join allows printing a string list with separator
    print()


# for loop iterates on length of InfoDb
def for_loop():
    print("For loop output\n")
    for record in InfoDb:
        print_data(record)

for_loop()

For loop output

Lina Awad
	 Residence: San Diego
	 Birth Day: October 28
	 Score:30

Dylan Garret
	 Residence: San Diego
	 Birth Day: March 3
	 Score:20

Lydia Cho
	 Residence: San Diego
	 Birth Day: April 12
	 Score:40

Naja Fonseca
	 Residence: San Diego
	 Birth Day: September 18
	 Score:45